<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>bpm-work-item-list-table component: </h2>
<bpm-connection-configuration (applicationConnection)="loadBpmData($event)"></bpm-connection-configuration>
    <br/>
<bpm-work-item-list-table [wiArray]="wiArray" (bpmClick)="workItemClicked($event)" [sortBy]="sortBy" [sortOrder]="sortOrder">
                </bpm-work-item-list-table>

