
<div id="collapseExample" >
    <div class="card">
        <div class="card-body">
            <div class="form-group row">
                <label for="btnGroupAddon" class="col-sm-3 col-form-label">Server</label>
                <div class="input-group col-sm-9">
                    <input type="text" class="form-control" aria-label="Server url" aria-describedby="btnGroupAddon" [(ngModel)]="server">
                    <span class="input-group-addon" id="btnGroupAddon" (click)="connectToServer()" style="cursor: pointer">Connect</span>
                </div>
            </div>
            <div class="form-group row" *ngIf="tenants.length > 0">
                <label for="tenant" class="col-sm-3 col-form-label">Tenant</label>
                <div class="col-sm-9">
                    <select [(ngModel)]="selectedTenant" id="tenant" (ngModelChange)="onTenantChange($event)">
                        <option *ngFor="let tenant of tenants" [ngValue]="tenant"> {{tenant.name}} </option>
                    </select>
                </div>
            </div>
            <div class="form-group row" *ngIf="applications.length > 0">
                <label for="application" class="col-sm-3 col-form-label">Application</label>
                <div class="col-sm-9">
                    <select [(ngModel)]="selectedApplication" id="application" (ngModelChange)="onApplicationChange($event)">
                        <option *ngFor="let app of applications" [ngValue]="app"> {{app.name}} </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
